.title {
    text-align: center;
}

.container {
    padding: 10%;
    display: flex;
    justify-content: center;
}

.container__item {
    border: 1px solid rgb(183, 102, 241);
    width: 20vw;
    height: 100px;
}

.selected {
    background-color: rgb(172, 112, 228);
}